body {
    background: #252525;
    font-family: 'Open Sans';
    font-weight: 300;
}
.main {
    background : #333 url(http://10.44.55.167/Portailinvite/assets/fond.png) right top no-repeat;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
}

.main2 {
    background : #333 url(http://10.44.55.167/Portailinvite/assets/fond_admin.jpg) right top no-repeat;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
}

.accueil {
	margin-bottom: 40px;
	margin-top : 40px;
}

.formulaire {
	margin-bottom: 40px;
}

@media only screen and (max-width : 992px) {
    .main {
        background: white;
        padding: 80px 20px 20px;
        margin-top: 30px;
    }
     .main2 {
        background: white;
        padding: 80px 20px 20px;
        margin-top: 30px;
    }
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #555;
    margin-bottom: 0;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 18px;
    margin-top: 5px;
}
form {
    margin-top: 60px;
}
input.form-control , input[type="submit"] , .btn {
    border-radius: 0px;
}
.btn {
    transition: all ease-in-out 0.2s;
    background-color: darkorange;
}
.credits {
    margin-top: 100px;
    color: #999;
    font-size: 12px;
}
.credits a {
    color: inherit;
}

.logo {
    position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
}

.accueil {
    background-color: white;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
}

.formulaire {
    background-color: white;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
}

@media only screen and (max-width : 992px) and (min-width: 500px){
   .accueil {
        background-color: white;
        background-size: contain;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: -500px;
        padding:0px 0px 0px 0px;

    }
   .titre {
	margin-left: 10px;
    } 
}

@media only screen and (max-width : 500px) {
   .accueil {
        background-color: white;
        background-size: contain;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: -200%;
        padding: 10px 10px 10px 10px;
   }
}
